@use "node_modules/@iroco/ui/dist/scss/colors";
@use "node_modules/@iroco/ui/dist/scss/fonts";
@use "node_modules/@iroco/ui/dist/scss/style";
@use "node_modules/@iroco/ui/dist/scss/constants";
@import "node_modules/@iroco/ui/dist/scss/containers";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: colors.$green;
  text-decoration: none;
}

ul.no-bullet {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
  margin: 4em;
}

button {
  text-decoration: none;
  color: colors.$beige;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
}

main {
  margin: 11em auto 4em;
  width: 80%;
}

html {
  margin: 0;
  padding: 0;

  > body {
    @include fonts.Arial(14px, colors.$beige);
    line-height: 1.7em;
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: default;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    background: colors.$darkBlue;
  }
}

svg.greenIcon {
  fill: colors.$green !important;
}

.navigation {
  position: fixed;
  top: 0;
  background-color: colors.$darkBlue;
  z-index: 1;

  .nav__topbar__item a:not(.iroco-ui-button) {
    font-size: 1.5em;
    color: colors.$beige;
  }
}

.navigation--mobile {
  border-bottom: none;
  background-color: colors.$darkBlue;

  .nav__topbar__item a {
    color: colors.$beige;
    font-size: 1.5em;
  }
}
