@use 'node_modules/@iroco/ui/lib/colors';
@use 'node_modules/@iroco/ui/lib/fonts';
@use 'node_modules/@iroco/ui/lib/style';
@use 'node_modules/@iroco/ui/lib/constants';
@import 'node_modules/@iroco/ui/lib/containers';


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:active,
button {
  outline: none;
  text-decoration: none;
  color: colors.$beige;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: large;
  line-height: 1.7em;
}

h1 {
  font-size: 2.8em;
  line-height: 1.3em;
}

h2 {
  font-size: 2.5em;
}

main {
  margin: 11em auto 4em;
  width: 80%;
}

html {
  margin: 0;
  padding: 0;

  > body {
    @include fonts.Arial(14px, colors.$beige);
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    cursor: default;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    background: colors.$darkBlue;
  }
}

.illustration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  @include screen-laptop() {
      height: 100%;
      margin-top: 4em;
    }

    @include screen-tablet() {
      margin-top: 3em;
    }

    @include screen-tablet-S() {
      margin-top: 2em;
    }
    > h4 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 50px;
      text-align: center;
      line-height: 2.2em;
      white-space: pre-wrap;

      @include screen-tablet-S() {
        font-size: 0.9em;
        margin-top: 40px;
      }

      @include screen-mobile-L() {
        margin-top: 30px;
      }
    }
}
