@use 'node_modules/@iroco/ui/lib/colors';
@use 'node_modules/@iroco/ui/lib/fonts';
@use 'node_modules/@iroco/ui/lib/style';
@use 'node_modules/@iroco/ui/lib/constants';
@import 'node_modules/@iroco/ui/lib/containers';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: colors.$green;
  outline: none;
  text-decoration: none;
}

hr {
  border: 0;
  margin: 4em;
}

button {
  outline: none;
  text-decoration: none;
  color: colors.$beige;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
}

main {
  margin: 11em auto 4em;
  width: 80%;
}

html {
  margin: 0;
  padding: 0;

  > body {
    @include fonts.Arial(14px, colors.$beige);
    line-height: 1.7em;
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: default;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    background: colors.$darkBlue;
  }
}

.illustration {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include screen-laptop() {
    height: 100%;
  }

  > h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 50px;
    text-align: center;
    line-height: 2em;
    white-space: pre-wrap;

    @include screen-tablet-S() {
      margin-top: 40px;
    }

    @include screen-mobile-L() {
      margin-top: 30px;
    }
  }
}
